/* body  */

body {
    font-family: poppins;
}

/* header section  */

.header-background {
    background-color: #264653;
    height          : 100vh;
}


.button-header {
    background-color: #E76F51;
    border-radius   : 5px;
    width           : 168px;
    height          : 44px;
    color           : white;
}

/* bike section  */

/* .bike {
    filter: grayscale(100%);
} */

.bike-1 img,
.bike-3 img {
    filter: grayscale(100%);
}



/* client section  */

.client {
    color: #E76F51;
}


/* card  */

.testimonial .card {
    height: 478.01px;
    width : 322px;
}

.card-3 img {
    border-radius: 50%;
}

.fa-star {
    color: #E77C40;
}

.identity {
    color: #23A6F0;
}

/* card end */