body {
    font-family: poppins;
}

.header-background {
    background-color: #264653;
}


.button-header {
    background-color: #E76F51;
    border-radius   : 5px;
    width           : 168px;
    height          : 44px;
    color           : white;
}

.text-primary-color {
    color: #E76F51;
}

.bike {
    filter: grayscale(100%);
}

.client {
    color: #E76F51;
}